<nav class="navbar navbar-expand-lg navbar-dark bg-dark custom-navbar">
    <a class="navbar-brand" href="/">
        <img src="public/img/semfundo.png" alt="Imagem" class="logo">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Alternar navegação">
        <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarToggler">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item">
                <a class="nav-link" href="/sobre">Sobre</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
                    Gráficos
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/visualizacao">Gráfico 1</a>
                    <a class="dropdown-item" href="/visualizacao2">Gráfico 2</a>
                    <a class="dropdown-item" href="/visualizacao3">Gráfico 3</a>
                    <a class="dropdown-item" href="/visualizacao4">Gráfico 4</a>
                    <a class="dropdown-item" href="/visualizacao5">Gráfico 5</a>
                </div>
            </li>
        </ul>
    </div>
</nav>

<style>
    .custom-navbar {
        font-family: 'Roboto', sans-serif;
        background-color: #343a40; /* Mantendo a cor de fundo escura */
    }

    .custom-navbar .navbar-brand {
        font-size: 1.5rem;
        font-weight: lighter;
        color: #65869e; /* Mudando a cor do texto da marca */
    }

    .custom-navbar .navbar-nav .nav-link {
        font-size: 1.2rem;
        color: #ffffff;
        margin-left: 15px;
        transition: color 0.3s ease-in-out;
    }

    .custom-navbar .navbar-nav .nav-link:hover {
        color: #65869e; /* Mudando a cor do texto ao passar o mouse */
    }

    .custom-navbar .navbar-toggler {
        border-color: #65869e; /* Mudando a cor da borda do botão de alternância */
    }

    .custom-navbar .navbar-toggler-icon {
        background-image: url('data:image/svg+xml;utf8,<svg viewBox="0 0 30 30" xmlns="http://www.w3.org/2000/svg"><path stroke="rgba(255, 204, 0, 1)" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" d="M4 7h22M4 15h22M4 23h22"/></svg>'); /* Mudando a cor do ícone do botão de alternância */
    }
</style>
