img {
	max-width: 100%;
}

html, body {
	/* Para fazer o rodapé ficar sempre na parte inferior da página ;) */
	min-height: 100vh;
}

.limitador {
	max-width: 1200px;
	margin: 0px auto;

	/* Para fazer o rodapé ficar sempre na parte inferior da página ;) */
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
}

.conteudo {
	/* Para fazer o rodapé ficar sempre na parte inferior da página ;) */
	flex: 1 1 auto;
}

.rodape {
	text-align: center;
	background-color: black;
	padding: 2rem;
}

.link-rodape, .link-rodape:hover {
	color: white;
	text-decoration: none;
}

.custom-navbar {
    font-family: 'Roboto', sans-serif;
    background-color: #343a40; /* Mantendo a cor de fundo escura */
}

.custom-navbar .navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
    color: #ffcc00; /* Mudando a cor do texto da marca */
}

.custom-navbar .navbar-nav .nav-link {
    font-size: 1.2rem;
    color: #ffffff;
    margin-left: 15px;
    transition: color 0.3s ease-in-out;
}

.custom-navbar .navbar-nav .nav-link:hover {
    color: #ffcc00; /* Mudando a cor do texto ao passar o mouse */
}

.custom-navbar .navbar-toggler {
    border-color: #ffcc00; /* Mudando a cor da borda do botão de alternância */
}

.custom-navbar .navbar-toggler-icon {
    background-image: url('data:image/svg+xml;utf8,<svg viewBox="0 0 30 30" xmlns="http://www.w3.org/2000/svg"><path stroke="rgba(255, 204, 0, 1)" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" d="M4 7h22M4 15h22M4 23h22"/></svg>'); /* Mudando a cor do ícone do botão de alternância */
}
