<h1 class="titulo">Projeto RaspaSampa</h1>

<div class="container-fluid mb-5">
	<div class="row">
		<div class="col-sm-8">
			<div class="card shadow" style="min-height: 100%;">
				<div class="card-body">
					<h2>Sobre o Projeto</h2>
					<p>O projeto RaspaSampa realiza um web scraping no site Observa Sampa para coletar e analisar
						diversas variáveis importantes para a cidade de São Paulo. O propósito é identificar as áreas
						críticas da cidade, utilizando indicadores como:</p>
					<ul>
						<li>Índice de envelhecimento</li>
						<li>Investimento público per capita (R$)</li>
						<li>Empregos formais no município</li>
						<li>Idade média ao morrer (em anos)</li>
						<li>Taxa de desemprego (%)</li>
					</ul>
					<p>Esses indicadores são essenciais para entender a dinâmica socioeconômica de São Paulo e
						direcionar políticas públicas para melhorar a qualidade de vida dos seus habitantes.</p>
				</div>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="card shadow" style="min-height: 100%;">
				<div class="card-body d-flex flex-column justify-content-center">
					<img src="/public/img/3964.png" alt="fotinhaIagen" />
				</div>
			</div>
		</div>
	</div>
</div>
