<div class="container-fluid mt-5 pt-5" style="background-color: black;">
	<h1 class="my-4" style="color: rgb(255, 255, 255);">Projeto RaspaSampa</h1>
	<div class="row">
		<div class="col-sm-8">
			<div class="card shadow my-4">
				<div class="card-body">
					<h2>Sobre o Projeto</h2>
					<p>O projeto RaspaSampa realiza um web scraping no site Observa Sampa para coletar e analisar
						diversas variáveis importantes para a cidade de São Paulo. O propósito é identificar as áreas
						críticas da cidade, utilizando indicadores como:</p>
					<ul>
						<li>Índice de envelhecimento</li>
						<li>Investimento público per capita (R$)</li>
						<li>Empregos formais no município</li>
						<li>Idade média ao morrer (em anos)</li>
						<li>Taxa de desemprego (%)</li>
					</ul>
					<p>Esses indicadores são essenciais para entender a dinâmica socioeconômica de São Paulo e
						direcionar políticas públicas para melhorar a qualidade de vida dos seus habitantes.</p>
				</div>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="card shadow my-4">
				<div class="card-body">
					<h2>fotoo</h2>
					<div id="div-imagem" style="height: 50vh; background-color: #f8f9fc; display: flex; justify-content: center; align-items: center;">
						<p><img src="/Users/guilhermemacedo/Desktop/GitHub/inter-4sem-2024-raspasampa/public/img/3964.png" alt="fotinhaIagen"></p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<footer class="bg-light text-center text-lg-start fixed-bottom">
	<div class="container p-4">
		<p>© 2024 RaspaSampa. Todos os direitos reservados.</p>
	</div>
</footer>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>

<style>
	
</style>