<h1 class="titulo">Sobre nós</h1>

<div class="container-fluid">
	<div class="row">
		<div class="col-sm-6 p-3">
			<img src="/public/img/luiz_gustavo.jpg" class="perfil scroll-trigger">
		</div>
		<div class="texto p-3 col-sm-6">
			<div>
				<h2 class="mb-3 scroll-trigger">Luiz Gustavo Candido</h2>
				<h4 class="mb-3 scroll-trigger">Idade: 21 anos</h4>
				<p class="scroll-trigger">Estagiário na área de modelagem e rentabilidade no Banco Santander e estudante do 4º semestre do curso de Sistemas de Informação na ESPM-SP. Luiz Gustavo possui conhecimento em machine learning, estatística e finanças.</p>
				<p>
					<a href="https://www.linkedin.com/in/gustavo-candido-499332198/" target="_blank" rel="noopener noreferrer" class="botao linkedin scroll-trigger">
						<img src="/public/img/LinkedIn.png" alt="LinkedIn">
					</a>
					<a href="https://github.com/gustavo-candidoo" target="_blank" rel="noopener noreferrer" class="botao github scroll-trigger">
						<img src="/public/img/github-mark.png" alt="GitHub">
					</a>
				</p>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-6 p-3">
			<img src="/public/img/guilherme_macedo.jpg" class="perfil scroll-trigger">
		</div>
		<div class="texto p-3 col-sm-6">
			<div>
				<h2 class="mb-3 scroll-trigger">Guilherme Macedo</h2>
				<h4 class="mb-3 scroll-trigger">Idade: 22 anos</h4>
				<p class="scroll-trigger">Guilherme Macedo é estagiário na área de precificação na Votorantim Cimentos e cursa o 4º semestre de Sistemas de Informação na ESPM-SP. Ele possui experiência em processos de automação e sistemas ERP, com um foco particular em estratégias de precificação.</p>
				<p>
					<a href="https://www.linkedin.com/in/macedoguilherme16/" target="_blank" rel="noopener noreferrer" class="botao linkedin scroll-trigger">
						<img src="/public/img/LinkedIn.png" alt="LinkedIn">
					</a>
					<a href="https://github.com/gmacedo16" target="_blank" rel="noopener noreferrer" class="botao github scroll-trigger">
						<img src="/public/img/github-mark.png" alt="GitHub">
					</a>
				</p>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-6 p-3">
			<img src="/public/img/guilherme_tamer.jpg" class="perfil scroll-trigger">
		</div>
		<div class="texto p-3 col-sm-6">
			<div>
				<h2 class="mb-3 scroll-trigger">Guilherme Tamer</h2>
				<h4 class="mb-3 scroll-trigger">Idade: 24 anos</h4>
				<p class="scroll-trigger">Estudante do 4º semestre de Sistemas de Informação na ESPM-SP. Antes, passou pelos cursos de Engenharia Mecânica e Administração no Insper, faculdade renomada em todo o Brasil. Tamer está em busca de sua primeira oportunidade no mercado de trabalho e possui conhecimento em desenvolvimento fullstack e ciência de dados.</p>
				<p>
					<a href="https://www.linkedin.com/in/guilherme-lotaif/" target="_blank" rel="noopener noreferrer" class="botao linkedin scroll-trigger">
						<img src="/public/img/LinkedIn.png" alt="LinkedIn">
					</a>
					<a href="https://github.com/Guilherme-Lotaif" target="_blank" rel="noopener noreferrer" class="botao github scroll-trigger">
						<img src="/public/img/github-mark.png" alt="GitHub">
					</a>
				</p>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-6 p-3">
			<img src="/public/img/giovanna_ferreira.jpg" class="perfil scroll-trigger">
		</div>
		<div class="texto p-3 col-sm-6">
			<div>
				<h2 class="mb-3 scroll-trigger">Giovanna Ferreira</h2>
				<h4 class="mb-3 scroll-trigger">Idade: 20 anos</h4>
				<p class="scroll-trigger">Fez High School na Argyle Secondary School no Canadá e atualmente é estudante do 4º semestre de Sistemas de Informação na ESPM-SP. Giovanna é conhecida pela sua comunicação e conhecimento em análise e visualização de dados.</p>
				<p>
					<a href="https://www.linkedin.com/in/giovanna-caroline-sanches-ferreira-593540271/" target="_blank" rel="noopener noreferrer" class="botao linkedin scroll-trigger">
						<img src="/public/img/LinkedIn.png" alt="LinkedIn">
					</a>
					<a href="https://github.com/gihferreir4" target="_blank" rel="noopener noreferrer" class="botao github scroll-trigger">
						<img src="/public/img/github-mark.png" alt="GitHub">
					</a>
				</p>
			</div>
		</div>
	</div>
</div>

<%- contentFor("espaco-head") %>

<style>
	.container-fluid {
		padding: 2rem;
	}

	.descricao {
		margin-top: 2rem;
		font-size: 1.5rem;
		text-align: center;
		color: #fff;
		animation: animacao-titulo 1s ease-out;
	}

	.perfil {
		width: 100%;
		max-width: 350px;
		height: auto;
		border-radius: 1rem;
		margin: 0 auto;
		display: block;
		box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
	}

	.texto {
		border-radius: 1rem;
		margin-top: 1rem;
		padding: 1rem;
		background: rgba(255, 255, 255, 0.8);
		box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	}

	.botao {
		display: inline-flex;
		width: 2rem;
		height: 2rem;
		margin: 0.5rem;
		border-radius: 50%;
		overflow: hidden;
		box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
		transition: transform 0.3s;
	}

	.botao img {
		width: 100%;
		height: 100%;
	}

	.botao:hover {
		transform: scale(1.1);
	}

	.mb-3 {
		margin-bottom: 1rem;
	}

	.p-3 {
		padding: 1rem;
	}

	@media (max-width: 768px) {
		.titulo {
			font-size: 3rem;
		}

		.descricao {
			font-size: 1.2rem;
			margin-bottom: 3rem;
		}
	}
</style>

<%- contentFor("espaco-rodape") %>
